#mainContainer {
    border: 1px solid #000;
    display: flex;

    justify-content: center;
    padding: 20px;
}

/* #calculatorContainer {
    border: 5px solid #ff6c6c;

    display: flex;
    flex-shrink: 0;
    

    width: 60%;
} */

#classA {
    display: flex;
    flex-direction: column;

    border: 1px solid #6cff82;
    width: 240px;
}

#display {
    background-color: aquamarine;
    height: 80px;
}

#buttonContainer {
    border: 1px solid #6ca7ff;

    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
}

#numberContainer {
    border: 1px solid #fffa6c;

    display: flex;
    flex-direction: column;
    
}

#operatorColumn {
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 50px;
    margin: 2px;
}

#equalButton {
    background-color: rgb(255, 98, 0);
}